/* RED BORDER FOR TESTING */

/* div {
  border: 1px solid red;
}

span {
  border: 1px solid red;
} */

/* GLOBAL OPTIONS */

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer {
  cursor: pointer;
}

.fb-link {
  color: #333333;
}

.fb-link:hover {
  color: #3b5998;
  text-shadow: 2px 2px 8px #b5cbfc;
}

.kodukord {
  margin: 30px;
  font-size: large;
  line-height: 1.4em;
  display: block;
}

.kodu {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1em;
  font-weight: 300;
}

.kodu:hover {
  text-decoration: none;
  color: silver;
  font-size: 1em;
  font-weight: 300;
}

.ml-30 {
  margin-left: 30px;
}

.navbar-width {
  max-width: 80vw;
}

.footer-bg {
  background-color: #5b704c !important;
}

.grey-bg {
  background-color: #eeeeee !important;
}

.d-grey-bg {
  background-color: #333333 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li img {
  min-width: 64px;
  height: auto;
}

body p {
  line-height: 28px;
}

.gallery img {
  object-fit: cover;
  max-width: 250px;
  height: 250px;
}

.gallery img {
  border: 0px transparent;
  border-radius: 0.5em;
  width: 250px;
}

.gallery img:hover {
  filter: brightness(80%);
}

/* GALLERY END */

/* BED CARDS START */
.card-border {
  border: 1px solid lightgray;
  border-radius: 0.5em;
  margin: 0.5em;
  width: 200px;
}

.bed-icon {
  width: 48px;
  height: auto;
}

.bed-wrapper {
  width: 96px;
}

/* BED CARDS END */

/* MOBILE VIEW */
@media (max-width: 700px) {
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
  }

  /* Modal end */
  .hero-container {
    background-image: url("../img/hero_pillow_mobile.webp"); /* The image used */
    background-color: #454545; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .middle-container {
    background-image: url("../img/hero_beach_mobile.webp"); /* The image used */
    background-color: #454545; /* Used if the image is unavailable */
    min-height: 100vh; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  /* START SLOGAN positioning */

  .slogan-position {
    margin-top: 10vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  /*  END SLOGAN positioning */

  .sireli-majutus {
    font-family: "Meow Script", cursive;
    font-size: 6em;
    color: #f8f8f8;
  }

  .sireli-majutus-small {
    font-family: "Meow Script", cursive;
    font-size: 3em;
    color: #f3f3f3;
  }

  .puhkus {
    font-family: "Meow Script", cursive;
    font-size: 4em;
    color: #f8f8f8;
  }

  .navbar-width {
    max-width: 100%;
  }

  /* GALLERY START */
  .gallery-wrapper {
    max-width: fit-content;
  }

  .gallery {
    max-width: fit-content;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(275px, 275px)); */
    grid-template-columns: repeat(1, 265px);
    grid-auto-rows: 275px;
  }

  h1,
  .h1 {
    font-size: 2.2em;
    font-weight: 300;
  }

  h2,
  .h2 {
    font-size: 1.8em;
    font-weight: 300;
  }

  h3,
  .h3 {
    font-size: 1.4em;
    font-weight: 400;
  }

  h4,
  .h4 {
    font-size: 1.3em;
    font-weight: 400;
  }

  .commontext {
    font-size: 1.1em;
    font-weight: 300;
  }

  /* CARD STYLING START */
  .card {
    width: 16rem;
  }

  /* Phone icon size */
  .phone-icon {
    max-width: 25vw;
    height: auto;
  }

  /* MAP options */
  .map-responsive {
    overflow: hidden;
    padding-bottom: 500px;
    position: relative;
    height: 0;
  }

  /* NAV  ITEMS */
  .nav-item {
    margin: 0em 0em;
  }

  /* FRIENDS START */
  .container-fluid-inner {
    width: 100%;
    margin: 50px 50px;
    background-color: white;
  }

  /* FRIENDS END */
}

/* END MOBILE VIEW */

/* DESKTOP VIEW */
@media (min-width: 701px) {
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .pointer {
    cursor: pointer;
  }

  .modalX {
    margin-right: 10px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* MODAL END */

  /* FRIENDS START */
  .container-fluid-inner {
    width: 100%;
    margin: 30px 0px;
    background-color: white;
  }

  /* FRIENDS END */

  .hero-container {
    background-image: url("../img/hero_pillow.webp"); /* The image used */
    background-color: #454545; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .middle-container {
    background-image: url("../img/hero_beach.webp"); /* The image used */
    background-color: #454545; /* Used if the image is unavailable */
    min-height: 100vh; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .layer {
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* START SLOGAN positioning */

  .slogan-position {
    /* background-color: rgba(0, 0, 0, 0.4); */
    margin-top: auto;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0em 3em 0em;
  }

  .navbar-width {
    max-width: 80vw;
  }

  /* END SLOGAN positioning */

  .sireli-majutus {
    font-family: "Meow Script", cursive;
    font-size: 9em;
    color: #f3f3f3;
  }

  .sireli-majutus-small {
    font-family: "Meow Script", cursive;
    font-size: 3em;
    color: #f3f3f3;
  }

  .puhkus {
    font-family: "Meow Script", cursive;
    font-size: 8em;
    color: #f8f8f8;
  }

  /* GALLERY START */
  .gallery-wrapper {
    min-width: 550px;
  }

  .gallery {
    width: 550px;
    display: grid;
    grid-template-columns: repeat(2, 275px);
    grid-auto-rows: 275px;
  }

  /* NAV  ITEMS */
  /* .nav-item {
    margin: 0em 5em;
  } */

  /* Global font settings */

  h1,
  .h1 {
    font-size: 3em;
    font-weight: 300;
  }

  h2,
  .h2 {
    font-size: 2em;
    font-weight: 300;
  }

  h3,
  .h3 {
    font-size: 1.6em;
    font-weight: 400;
  }

  h4,
  .h4 {
    font-size: 1.5em;
    font-weight: 400;
  }

  .commontext {
    font-size: 1.2em;
    font-weight: 300;
  }

  /* Restricts sucess image size on desktop */
  .container > img {
    max-height: 60%;
    max-width: 60%;
  }

  /* CARD STYLING START */

  .card {
    max-width: 24rem;
  }

  /* MAP options */

  .map-responsive {
    overflow: hidden;
    padding-bottom: 700px;
    position: relative;
    height: 0;
  }
}

/* END DESKTOP VIEW */

/* START GLOBAL font styling */
p {
  line-height: 1.2;
}

.text-dark {
  color: #454545;
}

.text-bright {
  color: #f3f3f3;
}

.copyright {
  font-weight: 200;
}

.bold {
  font-weight: 600;
  color: #454545;
}

a:link {
  text-decoration: none;
  color: #454545;
}

a:visited {
  text-decoration: none;
  color: #454545;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a h5:hover {
  text-decoration: none;
  opacity: 0.6;
}

/* card hover expand */

/* END font styling */

/* START MAP options */

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* END MAP options */

/* FISHERMAN IMAGE */
img.rounded-corners {
  max-width: 200px;
  max-width: auto;
  border-radius: 10em;
}

.fishtext {
  min-width: 200px;
}

.fishtext img {
  min-width: 200px;
}
/* FISHERMAN IMAGE */

/* Button styles START */

.btn {
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
  font-family: "Heebo", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: #87b865;
  border-radius: 4px;
  border: 1px solid silver;
  padding: 16px 36px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem;
}

.btn-saada {
  /* width: fit-content; */
  height: fit-content;
  margin-top: 40px;
  font-family: "Heebo", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: #87b865;
  border-radius: 4px;
  border: 1px solid silver;
  padding: 16px 36px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem;
}

/* Button styles END */

/* Toggle brand START */

.desk-logo {
  background-image: url("../img/jalutame_160_60_white.svg"); /* The image used */
  height: 60px; /* You must set a specified height */
  width: 160px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.mobile-logo {
  background-image: url("../img/jalutame_80_30_white.svg"); /* The image used */
  height: 30px; /* You must set a specified height */
  width: 80px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Toggle brand END */

/* NAVBAR STYLING */
/* change the background color */

.navbar-default {
  background: none;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgb(229, 229, 204);
  padding: 0;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgb(252, 252, 252);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: rgb(198, 252, 182);
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
  background-color: rgb(242, 242, 242);
}

/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
  color: rgb(253, 253, 253);
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
  color: #eeeeee;
  background-color: white;
}

ul.nav a:hover {
  color: #fff !important;
}

.mobile-nav-btn {
  background-color: #87b865;
}

/* END NAVBAR STYLING */
